body {
    background-image: url(kristin-ellis-cteiWO6dBNE-unsplash.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    margin:0;
}

.container {
    min-width: 1200px;
}

/* border: grey solid 20px;
    border-width: 20px;
    float: right;
    border-collapse: collapse; */

/*.text {
    position: ;
    top: -100px;
    left: 6px;
    padding-left: 30px;
}*/

h1 {
    font-size: 63px;
    margin: 20px;
    color: beige;
}

div {
    padding: 10px 0 0 20px;
    font-size: 17px;
    text-decoration: underline;
    color: beige;
}

footer {
    position: fixed;
    display: inline-flex;
    top: 500px;
    left: -50px;
    padding-left: 30px;
}

img {
    padding-left: 60px;
}

.square {
    position: relative;
    height: 700px;
    width: 700px;
    border: solid grey 10px;
    margin: 0 700px;
    opacity: 5px;
    z-index: -1;
}

